./Liste/Primo/a.out
./Liste/Secondo/a.out
./Liste/Secondo/*.txt
./Liste/Terzo/a.out
./Liste/Quarto/a.out
./Liste/Quinto/a.out
./Liste/Sesto/a.out
./Liste/Settimo/a.out
./Liste/Ottavo/a.out
./Liste/Nono/Make
./Liste/Nono/*.o
./Liste/Decimo/a.out
./Liste/Undicesimo/a.out